html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    background-color: blueviolet;
}
h1{
    text-align: center;
    color: orange;
}
.main{
    flex: 1;
}
.signup{
    text-align: center;
    width: 50%;
    padding: 40px;
    align-items: center;
    border-radius: 20px;
    background-color: lightblue;
    height: 500px;
    margin-left: 420px;
}
.signup h2{
    color: violet;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
}

